.additional-item {
  padding-top: 14px;
  padding-bottom: 17px;
}

.additional-item__title {
  margin-bottom: 15px;
  @include font-oswald(16px, 1);
  text-transform: uppercase;
  font-weight: normal;
  color: $black-two;
}

.additional-item__feature {
  @include indent-reset;
  margin-bottom: 14px;
  @include font-arial(14px, 1);
  color: $black-three;
}

.additional-item__feature dt,
.additional-item__feature dd {
  @include indent-reset;
}

.additional-item__feature dd {
  text-align: right;
}
