.additionally {
  @include indent-reset;
  list-style: none;
  margin-bottom: 34px;
}

.additionally__item {
  margin-bottom: 13px;
  &:last-child {
    margin-bottom: 0;
  }
}

.additionally__item label {
  @include font-oswald(16px, 1.13);
  text-transform: uppercase;
  color: $lightblack;
}
