.button {
  display: block;
  padding: 13px 53px 12px 55px;
  box-sizing: border-box;
  @include font-oswald(16px, 1.25);
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
}
