.button {
  display: block;
  padding-top: 13px;
  padding-right: 53px;
  padding-bottom: 12px;
  padding-left: 55px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
}
