.button {
  display: block;
  padding-top: 13px;
  padding-right: 53px;
  padding-bottom: 12px;
  padding-left: 55px;
  box-sizing: border-box;
  @include font-oswald(16px, 1.25);
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
}
