.choose-program {
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 34px;
  padding-left: 20px;
}

.choose-program__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  color: $black;
}

.choose-program__subtitle {
  margin-bottom: 39px;
  width: 250px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: $black;
}
