.comment {
  //временно
  outline: 2px dashed rgb(255, 238, 0);
  //временно
  margin-bottom: 31px;
}

.comment__title {
  margin-bottom: 31px;

  @include font-oswald(24px, 1);
  font-weight: normal;
  color: $black;
}

.comment__textarea {
  box-sizing: border-box;
  padding: 15px 13px 15px 13px;
  width: 100%;
  height: 150px;

  @include font-oswald(16px, 1.13);
  text-transform: uppercase;
  color: $lightblack;

  &::placeholder {
    @include font-oswald(16px, 1.13);
    text-transform: uppercase;
    color: $lightblack;
  }
}
