.contact-us {
  background-image: url(../../img/bg-map-mobile@1x.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #fdf7ef;
  // временно
  outline: 2px dashed forestgreen;
  outline-offset: -2px;
  // временно
}

.contact-us__wrapper {
  padding-top: 31px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;
}

.contact-us__invite {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  color: black;
}

.contact-us__address {
  font-family: "Arial", sans-serif;
  line-height: 1.43;
  text-align: left;
}
