.courses {
  //временно
  outline: 2px dashed rgb(255, 0, 242);
  //временно
  padding-top: 21px;
  padding-bottom: 22px;
  margin-bottom: 31px;
}

.courses__list {
  @include indent-reset;
  list-style: none;
}

.courses__item label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.13;
  color: $black-two;
}

.courses__item {
  margin-bottom: 13px;
}

.courses__item:last-child {
  margin-bottom: 0;
}

.courses__radio {
  margin-right: 16px;
}
