.effect {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 18px;
  // временно
  min-height: 552px;
  outline: 2px dashed lime;
  outline-offset: -2px;
  // временно
}

.effect__list {
  @include indent-reset;
}

.effect__item {
  background-color: $grey;
}

.effect__title {
  margin-top: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  text-transform: uppercase;
  color: $black;
}

.effect__desc {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}


.effect__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $black;
}
