.how-it-works__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  color: $black;
}

.how-it-works__list {
  list-style: none;
}

.how-it-works__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}
