.info-owner {
  @include indent-reset;
  list-style: none;
}

.info-owner__item label {
  @include font-oswald(16px, 1.13);
  text-transform: uppercase;
  color: $black-two;
}

.info-owner__email,
.info-owner__phone {
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
}

.info-owner__email {
  width: 219px;
  margin-bottom: 14px;
}

.info-owner__email::placeholder {
  @include font-oswald(16px, 1.13);
  text-transform: uppercase;
  color: $black-three;
}

.info-owner__phone {
  width: 204px;
}

.info-owner__phone::placeholder {
  @include font-oswald(16px, 1.13);
  color: $black-three;
}
