.live-example {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  background-color: $grey;
  // временно
  min-height: 685px;
  outline: 2px dashed darkviolet;
  outline-offset: -2px;
  // временно
}

.live-example__title {
  margin-top: 0;
  margin-bottom: 23px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  color: $black;
}

.live-example__text {
  margin-bottom: 44px;
}

.live-example__desc {
  font-family: "Arial", sans-serif;
  @include indent-reset;
  margin-bottom: 27px;
  padding-right: 5px;
}

.live-example__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
