.page-footer {
  padding-top: 39px;
  padding-right: 20px;
  padding-bottom:22px;
  padding-left: 20px;
  background-color: $grey;
  // временно
  outline: 2px dashed blue;
  min-height: 236px;
  // временно
}

.page-footer__logo {
  display: block;
  margin-bottom: 31px;
}
