.page-footer {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $grey;
  // временно
  outline: 2px dashed blue;
  min-height: 236px;
  // временно
}

.copyright__developer {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: $black-three;
}
