.page-header {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  outline: 2px dashed #ffee00;// временно
  outline-offset: -2px;
  background-color: lightyellow;
}
