.product {
  padding-top: 25px;
  padding-bottom: 25px;
  &--show-all {
    padding-top: 27px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 18px;
  width: 90px;
  @include font-oswald(16px, 1.25);
  font-weight: normal;
  text-transform: uppercase;
  color: $black;
}

.product__features {
  @include font-arial(12px, 1.33);
  color: $black-three;
}

.product__order {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $green;
}

.product--show-all .product__title {
  padding-top: 52px;
  margin-bottom: 11px;
  width: auto;
  text-align: center;
}

.product--show-all .product__desc {
  display: block;
  margin-bottom: 22px;
  @include font-arial(12px, 1.33);
  text-align: center;
}
