.program {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 22px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: $white;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #63a73a;
  // временно
  min-height: 480px;
  outline: 2px dashed magenta;
  outline-offset: -2px;
  // временно
}

.program__title {
  margin-top: 0;
  padding-top: 29px;
  font-size: 36px;
  font-weight: normal;
}

.program__subtitle {
  display: block;
  margin-bottom: 29px;
  font-size: 14px;
  text-transform: uppercase;
}

.program__image {
  margin-bottom: 3px;
}

.program__link {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: $white;
}
