.result {
  list-style-type: none;

  @include indent-reset;
  margin-bottom: 18px;
}

.result__header {
  display: block;
  @include font-arial(12px, 1);
  text-align: center;
  color: $lightblack;
}

.result__value {
  display: block;
  @include font-oswald(24px, 1);
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
